<p style="color: green"><%= notice %></p>

<%= render @user %>

<p>Total Ratings: <%= @user.ratings.count %></p>
<p>Average Rating: 
  <%= @user.ratings.any? ? (@user.ratings.map { |r| r.score }.sum / @user.ratings.count.to_f).round(2) : 0 %>
</p>

<div>
  <% if @user.beer_clubs.any? %>
    <ul>
      <% @user.beer_clubs.each do |club| %>
        <li><%= link_to club.name, beer_club_path(club) %> (Founded: <%= club.founded %>, <%= club.city %>)</li>
      <% end %>
    </ul>
  <% else %>
    not in beer clubs
  <% end %>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating.beer.name %> – <%= rating.score %> points
        <% if @user == current_user %>
          <%= link_to "Delete", rating,
            data: {
            "turbo-method": :delete
            }, class: "link-secondary smooth" %>
        <% end %>
      </li>
  <% end %>
  <% if @user == current_user %>
    <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
  <%= link_to "Back to users", users_path %>

  
</div>
